{% extends 'src/partials/layout.njk'%}
{% block content %}
<section style="width: 1920px; height: 907px; background-image: url('/pussiveskiasi.jpg'); background-size: cover; background-position: center; background-color: red;">
</section>
  <section style="margin-bottom: 100px;">
    <h2>Contact Us</h2>
    <p>If you have any questions, feel free to reach out via our contact page.</p>
  </section>
{% endblock %}