{% extends 'src/partials/layout.njk'%}
{% block content %}
<header style="width: 100%; height: 907px; background-image: url('/pussiveskiasi.jpg'); background-size: cover; background-position: center; background-color: red;">
  <div style="display: flex;">
    <h1 class="font-beardbone text-left" style="user-select: none; font-size: 300px; color: white; padding-left: 274px; padding-top: 289px">PÜSSI</h1>
    <h1 class="font-beardbone text-right" style="user-select: none; font-size: 300px; color: white; padding-left: 274px; padding-top: 289px;">VESKI</h1>
    <img src="/Wlogo.png" alt="Wlogo" style="user-select: none; width: 600px; height: 600px; position: absolute; top: 160px; left: 660px; z-index: 1; opacity: 0.4;">
  </div>
</header>
<main>
  <section style="margin-top: 100px; padding-bottom: 100px;">
      <svg style="position: absolute; margin-top: 70px; right: 0px;" height="262px" width="254px">
        <use href="/revolverhalved.svg" fill="#CB2729" height="262px" width="254px"/>
      </svg>
      <svg style="position: absolute; margin-top: 70px; left: 0px;" height="262px" width="254px">
        <use href="/revolverhalvedflip.svg" fill="#CB2729" height="262px" width="254px"/>
      </svg>
    <div>
      <div style="padding-bottom: 50px; display: flex; justify-content: center; align-items: center; position: relative; gap: 6px; width: 100%;">
        <svg width="500" height="4" style="flex-shrink: 0;">
          <rect width="500" height="4" fill="#CB2729"/>
        </svg>
        <h2 id="history-title" class="font-beardbone text-center" style="font-size: 128px; color: #CB2729; margin: 0; flex-shrink: 0;">HISTORY</h2>
        <svg width="500" height="4" style="flex-shrink: 0;">
          <rect width="500" height="4" fill="#CB2729"/>
        </svg>
      </div>
      <div style="gap: 184px; display: flex; padding-inline: 274px;">
        <article style="width: 328px;">
          <header style="padding-bottom: 10px;">
            <h3 class="text-left font-extrabold" style="font-size: 24px">Creation of Püssi veski</h3>
            <p style="font-size: 20px; color: #D89C00;">1974 - 1986</p>
          </header>
          <p style="font-size: 16px; color: #151415;">
            I'm baby photo booth palo santo neutra shabby chic, green juice bodega boys franzen flannel tofu. DIY cred kogi, quinoa forage you probably haven't heard of them flannel selvage microdosing. 
            <br>
            Wayfarers organic PBR&B cardigan fit praxis tonx taxidermy truffaut taiyaki pickled keffiyeh. Gastropub lyft retro, listicle readymade pinterest chartreuse master cleanse. Mlkshk cray pok pok, XOXO post-ironic biodiesel before they sold out.
          </p>
        </article>
        <article style="width: 328px; padding-top: 150px;">
          <header style="padding-bottom: 10px;">
            <h3 class="text-left font-extrabold" style="font-size: 24px">Creating guns in Püssi</h3>
            <p style="font-size: 20px; color: #D89C00;">1987 - 2001</p>
          </header>
          <p style="font-size: 16px; color: #151415;">
            Cred subway tile chillwave, tofu venmo raclette mustache health goth lyft microdosing ascot direct trade normcore. Organic +1 banh mi, stumptown pork belly pitchfork salvia. <br>
            Cred cardigan neutral milk hotel franzen street art photo booth cliche thundercats single-origin coffee asymmetrical narwhal keffiyeh craft beer four dollar toast gorpcore. Chillwave chambray prism hell of brunch kinfolk authentic 8-bit godard selfies.
          </p>
        </article>
        <article style="width: 328px;">
          <header style="padding-bottom: 10px;">
            <h3 class="text-left font-extrabold" style="font-size: 24px">New management</h3>
            <p style="font-size: 20px; color: #D89C00;">2002 - Today</p>
          </header>
          <p style="font-size: 16px; color: #151415;">
            Blue bottle ugh authentic adaptogen, blackbird spyplane four dollar toast man braid hell of mlkshk offal. Tumeric 8-bit meh YOLO cred hashtag waistcoat bodega boys. Vinyl tattooed kombucha scenester. Literally scenester 3 wolf moon austin, echo park bodega boys forage paleo JOMO Brooklyn bicycle rights williamsburg schlitz. <br>
            Chartreuse big mood post-ironic literally, shaman flannel subway tile leggings lo-fi palo santo coloring book banjo. Roof party knausgaard church-key neutra selfies occupy helvetica retro air plant.
          </p>
        </article>
      </div>
    </div>
  </section>
  <section>

  </section>
</main>
{% endblock %}