{% extends 'src/partials/layout.njk'%}
{% block content %}
    <div class="bg-2ndary pt-24 pl-40 flex flex-wrap h-min pb-24n justify-between pb-12">
        <div class="pt-24 text-white pr-12 flex flex-col justify-between">
            <div class="max-w-lg">
                <h1 class="text-attention text-7xl pb-4">
                    RIOTING WITCHES HOODIE
                </h1>
                <p class="pb-12">
                    Synth prism mixtape tumblr tacos ascot, freegan craft beer shaman ugh marxism distillery locavore. Everyday carry enamel
                    pin humblebrag, pickled street art godard put a bird on it. Succulents ennui gluten-free pour-over flannel cliche kogi
                    cronut intelligentsia. Thundercats irony semiotics mustache iceland flannel prism lumbersexual same trust fund jawn
                    waistcoat. Thundercats irony semiotics mustache iceland flannel prism lumbersexual same trust fund jawn
                    waistcoat. Thundercats irony semiotics mustache iceland flannel prism lumbersexual same trust fund jawn
                    waistcoat.
                </p>  
            </div>
            <div class="pt-12 flex flex-col">
                <div class="flex text-slate-400 text-xl mb-4">
                    <p>MEN'S |</p>
                    <p class="pl-2">XL |</p>
                    <p class="pl-2">SATIN |</p>
                </div>
                <button class="peer bg-none py-4 w-52 border-attention text-attention text-xl border-solid border-4 hover:text-white
                         transition-bg duration-200 hover:bg-attention">
                    ADD TO CART
                </button>
                <p class="peer text-attention pt-4 invisible peer-focus:visible">
                    Item added to cart!
                </p>
            </div>
        </div>
        <div class="pt-24 max-w-4xl pr-60">
            <img src="mockupRW.jpg" alt="productpic" class="h-full object-cover shadow-xl">
        </div>
    </div>
{% endblock %}