{% extends 'src/partials/layout.njk'%}
{% block content %}
    <div class="bg-2ndary pt-24 md:pl-40 flex flex-wrap h-min pb-24n md:justify-between pb-12">
        <div class="pt-24 text-white md:pr-12 flex flex-col md:justify-between items-center md:items-start">
            <div class="flex flex-col md:max-w-lg text-center md:text-start px-10 md:px-0">
                <h1 class="text-attention text-7xl pb-4">
                    RIOTING WITCHES HOODIE
                </h1>
                <div class="flex justify-center md:pt-24 md:max-w-4xl md:pr-60 visible md:hidden">
                    <img src="mockupRW.jpg" alt="productpic" class="h-96 object-cover shadow-xl">
                </div>
                <p class="md:pb-12 pt-6">
                    Synth primd mixtape tumblr tacos ascot, freegan craft beer shaman ugh marximd distillery locavore. Everyday carry enamel
                    pin humblebrag, pickled street art godard put a bird on it. Succulents ennui gluten-free pour-over flannel cliche kogi
                    cronut intelligentsia. Thundercats irony semiotics mustache iceland flannel primd lumbersexual same trust fund jawn
                    waistcoat. Thundercats irony semiotics mustache iceland flannel primd lumbersexual same trust fund jawn
                    waistcoat. Thundercats irony semiotics mustache iceland flannel primd lumbersexual same trust fund jawn
                    waistcoat.
                </p>  
            </div>
            <div class="pt-12 flex flex-col">
                <div class="flex text-slate-400 text-xl mb-4 justify-center md:justify-start divide-x-2 divide-slate-400">
                    <p class="px-2">MEN'S</p>
                    <p class="px-2">XL</p>
                    <p class="px-2">SATIN</p>
                </div>
                <button class="peer bg-none py-4 w-52 border-attention text-attention text-xl border-solid border-4 hover:text-white
                         transition-bg duration-200 hover:bg-attention">
                    ADD TO CART
                </button>
                <p class="flex justify-center md:justify-start peer text-attention pt-4 invisible peer-focus:visible">
                    Item added to cart!
                </p>
            </div>
        </div>
        <div class="flex -mt-96 md:mt-0 md:pt-24 md:max-w-4xl md:pr-60 invisible md:visible">
            <img src="mockupRW.jpg" alt="productpic" class="h-full object-cover shadow-xl">
        </div>
    </div>
{% endblock %}