{% extends 'src/partials/layout.njk'%}
{% block content %}
<section class="xl:mt-[241px] xl:mx-[274px] mx-[60px] mt-[130px] ">
    <svg class="xl:visible invisible xl:h-[400px] xl:w-[700px]" style="rotate: 25deg; position: absolute; margin-left: 31px; margin-top: -100px; z-index: -1">
        <use href="/revolver.svg" fill="#CB2729" class="xl:h-[400px] xl:w-[700px]"/>
    </svg>
    <article class="xl:flex xl:mb-[150px] mb-[50px] xl:justify-items-between justify-items-center">
        <header class="justify-center xl:w-[532px] w-[252px] xl:h-[632px] items-center xl:mr-[140px]" style="outline: 8px solid #FFFAED; border-top-right-radius: 5%; border-top-left-radius: 5%; border-bottom-right-radius: 2%; border-bottom-left-radius: 2%;">
            <img id="main-image" src="/twinrevolvers.jpg" alt="Twins" class="xl:w-[532px] w-[252px] xl:h-[532px] h-[252px] xl:rounded-t-lg xl:rounded-b-none rounded-b-lg object-cover">
            <div class="xl:visible invisible flex xl:w-[532px] w-[232px] xl:h-[100px] justify-between items-center">
                <img src="/twinrevolvers.jpg" alt="image1" class="object-cover xl:h-[100px] xl:w-[106.5px] w-[10px] cursor-pointer" onclick="document.getElementById('main-image').src='/twinrevolvers.jpg'">
                <img src="/colt1.jpg" alt="image2" class="object-cover xl:h-[100px] xl:w-[106.5px] w-[10px] cursor-pointer" onclick="document.getElementById('main-image').src='/colt1.jpg'">
                <img src="/cont2.jpg" alt="image3" class="object-cover xl:h-[100px] xl:w-[106.5px] w-[10px] cursor-pointer" onclick="document.getElementById('main-image').src='/cont2.jpg'">
                <img src="/colt3.jpg" alt="image4" class="object-cover xl:h-[100px] xl:w-[106.5px] w-[10px] cursor-pointer" onclick="document.getElementById('main-image').src='/colt3.jpg'">
                <img src="/colt4.jpg" alt="image5" class="object-cover xl:h-[100px] xl:w-[106.5px] w-[10px] cursor-pointer" onclick="document.getElementById('main-image').src='/colt4.jpg'">
            </div>
        </header>
        <div class="xl:w-[710px] w-[300px]">
            <div class="xl:mb-[50px] mb-[10px]">
                <h2 class="font-beardbone xl:text-left xl:text-9xl text-[32px] text-primary text-center">Twin revolvers</h2>
                <p class="font-khula xl:text-left text-center xl:text-xl text-base text-darkness">
                    These twin revolvers are a perfect addition to your collection. Made with high-quality materials, they offer both durability and style. Whether you're a fan of westerns or just love the look of classic firearms, these revolvers will not disappoint. Each piece is crafted with attention to detail, ensuring that you receive a product that is both functional and aesthetically pleasing.
                </p>
            </div>
            <div class="xl:flex xl:justify-between justify-items-center items-center">
                <p class="font-light text-center xl:text-[32px] text-2xl text-golden xl:mb-0 mb-[15px]">$119.99</p>
                <a class="font-khula text-center bg-primary text-white py-[15px] px-[30px] text-[16px] rounded-[30px] cursor-pointer inline-block no-underline">
                    ADD TO CART
                </a>
            </div>
        </div>
    </article> 
</section>
{% endblock %}