{% extends 'src/partials/layout.njk'%}
{% block content %}
<div class="pt-72 pb-52 bg-2ndary pl-40">
    <h1 class="text-8xl pb-4 text-attention">
        SORRY!
    </h1>
    <p class="text-xl text-white">
        This page is still being made... Give the designer some time please. Enjoy life while you still can!
    </p>
</div>
{% endblock %}