{% extends 'src/partials/layout.njk'%}
{% block content %}
<section class="lg:pt-[241px] lg:px-[274px] sm:px-[16px] sm:pt-[130px] px-[16px] pt-[130px]">
    <svg class="xl:visible invisible absolute lg:top-[227px] right-0 -z-10 lg:h-[1103px] lg:w-[528px] h-[258px] w-[850px]">
        <use href="/cowboy.svg" fill="#CB2729" height="1103px" width="528px"/>
    </svg>
    <div class="lg:pb-[50px] pb-[50px] w-full max-w-3xl break-words">
      <h2 class="font-beardbone text-left lg:text-[128px] sm:text-5xl text-[48px] text-primary">Donating helps</h2>
      <p class="font-khone text-left text-base lg:text-xl text-darkness">
        Your donation will help us maintain our facilities, support our programs, and ensure that future generations can enjoy the beauty and history of this unique place.
      </p>
    </div>
    <div class="lg:pb-[250px] pb-[50px]">
        <h2 class="font-beardbone text-darkness text-left text-[32px] lg:mb-[40px] mb-[20px]">Donation options:</h2>
        <ul class="font-khone text-left lg:text-xl flex-wrap gap-[5px] lg:gap-[10px] text-primary lg:text-xl lg:mb-[40px] mb-10px flex">
            <li>
                <button type="button"
                    class="py-[10px] px-[60px] rounded-[50px] outline outline-2 outline-[#CB2729] text-primary bg-transparent transition-colors duration-200 hover:bg-[#CB2729] hover:text-white focus:bg-[#CB2729] focus:text-white">
                    5$
                </button>
            </li>
            <li>
                <button type="button"
                    class="py-[10px] px-[60px] rounded-[50px] outline outline-2 outline-[#CB2729] text-primary bg-transparent transition-colors duration-200 hover:bg-[#CB2729] hover:text-white focus:bg-[#CB2729] focus:text-white">
                    10$
                </button>
            </li>
            <li>
                <button type="button"
                    class="py-[10px] px-[60px] rounded-[50px] outline outline-2 outline-[#CB2729] text-primary bg-transparent transition-colors duration-200 hover:bg-[#CB2729] hover:text-white focus:bg-[#CB2729] focus:text-white">
                    15$
                </button>
            </li>
        </ul>
        <a class="mt-[10px] font-khula text-center bg-primary text-white py-[15px] px-[50px] text-[20px] rounded-[30px] cursor-pointer inline-block no-underline">
            DONATE
        </a>
    </div>
</section>
{% endblock %}