{% extends 'src/partials/layout.njk'%}
{% block content %}
<section style="padding-top: 241px; padding-inline: 274px;">
    <svg style="position: absolute; top: 227px; right: 0px; z-index: -1;" height="1103px" width="528px">
        <use href="/cowboy.svg" fill="#CB2729" height="1103px" width="528px"/>
    </svg>
    <svg style="position: absolute; bottom: -300px; left: 0px; z-index: -1;" height="420px" width="880px">
        <use href="/cactus.svg" fill="#CB2729" height="420px" width="880px"/>
    </svg>
    <div style="padding-bottom: 50px; width: 696px; text-wrap: wrap;">
      <h2 class="font-beardbone text-left" style="font-size: 128px; color: #CB2729;">Donating helps</h2>
      <p class="font-khone text-left" style="font-size: 20px; color: #151415;">
        Your donation will help us maintain our facilities, support our programs, and ensure that future generations can enjoy the beauty and history of this unique place.
      </p>
    </div>
    <div style="padding-bottom: 250px;">
        <h2 class="font-beardbone text-left" style="font-size: 32px; color: #151415; margin-bottom: 40px;">Donation options:</h2>
        <ul class="font-khone text-left" style="font-size: 20px; color: #CB2729; gap: 10px; display: flex; margin-bottom: 40px;">
            <li style="padding: 10px 60px; outline: solid #CB2729; outline-width: 2px; border-radius: 50px; hover: background-color: #CB2729;">5$</li>
            <li style="padding: 10px 60px; outline: solid #CB2729; outline-width: 2px; border-radius: 50px; hover: background-color: #CB2729;">10$</li>
            <li style="padding: 10px 60px; outline: solid #CB2729; outline-width: 2px; border-radius: 50px; hover: background-color: #CB2729;">15$</li>
        </ul>
        <a class="font-khula text-center" style="background-color: #CB2729; color: white; padding: 15px 60px; font-size: 20px; border-radius: 30px; cursor: pointer; display: inline-block; text-decoration: none;">
            DONATE
        </a>
    </div>
</section>
{% endblock %}