{% extends 'src/partials/layout.njk'%}
{% block content %}
<div class="bg-2ndary pl-40 pt-52 pb-8">
    <h1 class="text-attention text-7xl pb-12">
        CATEGORIES.
    </h1>
    <div class="flex justify-between">
        <div class="pr-48">
            <h2 class="text-white text-4xl pb-12">
                MEN'S
            </h2>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    BODYWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">HOODIES</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">SHIRTS</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">PANTS</p>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    HEADWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">GLASSES</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">HATS</p>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    UNDERWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">BOXERS</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">MOOB BRA</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pr-48">
            <h2 class="text-white text-4xl pb-12">
                WOMEN'S
            </h2>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    BODYWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">HOODIES</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">SHIRTS</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">PANTS</p>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    HEADWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">GLASSES</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">HATS</p>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    UNDERWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">panties</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">BRA</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pr-48">
            <h2 class="text-white text-4xl pb-12">
                CHILDREN'S
            </h2>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    BODYWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">HOODIES</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">SHIRTS</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">PANTS</p>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    HEADWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">GLASSES</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">HATS</p>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    UNDERWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">No</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">just no</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pr-80">
            <h2 class="text-white text-4xl pb-12">
                MISC
            </h2>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    ritual gear
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">daggers</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">candles</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">pig's blood</p>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    witch gear
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">potions</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">brooms</p>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    curse gear
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">strawdolls</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">hex kit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pl-40 pt-28">
    <h1 class="text-attention text-8xl pb-12">
        store.
    </h1>
    <div class="grid grid-cols-3 pb-60">
        <div class="pr-12">
            <img src="mockupRW.jpg" alt="productpic" class="h-full w-5/6 object-cover">
            <div>
                <h1 class="text-white text-4xl pt-5">
                    RIOTING WITCHES HOODIE
                </h1>
                <div class="flex text-white">
                    <p>MEN'S |</p>
                    <p class="pl-2">XL |</p>
                    <p class="pl-2">SATIN |</p>
                </div>
                <button class="bg-none py-4 w-52 border-attention text-attention mt-10 text-xl border-solid border-4 hover:text-white hover:bg-attention">
                    Read more
                </button>
            </div>
        </div>
        <div class="pr-12">
            <img src="mockupRW.jpg" alt="productpic" class="h-full w-5/6 object-cover">
            <div>
                <h1 class="text-white text-4xl pt-5">
                    RIOTING WITCHES HOODIE
                </h1>
                <div class="flex text-white">
                    <p>MEN'S |</p>
                    <p class="pl-2">XL |</p>
                    <p class="pl-2">SATIN |</p>
                </div>
                <button class="bg-none py-4 w-52 border-attention text-attention mt-10 text-xl border-solid border-4 hover:text-white hover:bg-attention">
                    Read more
                </button>
            </div>
        </div>
        <div class="pr-12">
            <img src="mockupRW.jpg" alt="productpic" class="h-full w-5/6 object-cover">
            <div>
                <h1 class="text-white text-4xl pt-5">
                    RIOTING WITCHES HOODIE
                </h1>
                <div class="flex text-white">
                    <p>MEN'S |</p>
                    <p class="pl-2">XL |</p>
                    <p class="pl-2">SATIN |</p>
                </div>
                <button class="bg-none py-4 w-52 border-attention text-attention mt-10 text-xl border-solid border-4 hover:text-white hover:bg-attention">
                    Read more
                </button>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-3 pb-96">
        <div class="pr-12">
            <img src="mockupRW.jpg" alt="productpic" class="h-full w-5/6 object-cover">
            <div>
                <h1 class="text-white text-4xl pt-5">
                    RIOTING WITCHES HOODIE
                </h1>
                <div class="flex text-white">
                    <p>MEN'S |</p>
                    <p class="pl-2">XL |</p>
                    <p class="pl-2">SATIN |</p>
                </div>
                <button class="bg-none py-4 w-52 border-attention text-attention mt-10 text-xl border-solid border-4 hover:text-white hover:bg-attention">
                    Read more
                </button>
            </div>
        </div>
        <div class="pr-12">
            <img src="mockupRW.jpg" alt="productpic" class="h-full w-5/6 object-cover">
            <div>
                <h1 class="text-white text-4xl pt-5">
                    RIOTING WITCHES HOODIE
                </h1>
                <div class="flex text-white">
                    <p>MEN'S |</p>
                    <p class="pl-2">XL |</p>
                    <p class="pl-2">SATIN |</p>
                </div>
                <button class="bg-none py-4 w-52 border-attention text-attention mt-10 text-xl border-solid border-4 hover:text-white hover:bg-attention">
                    Read more
                </button>
            </div>
        </div>
        <div class="pr-12">
            <img src="mockupRW.jpg" alt="productpic" class="h-full w-5/6 object-cover">
            <div>
                <h1 class="text-white text-4xl pt-5">
                    RIOTING WITCHES HOODIE
                </h1>
                <div class="flex text-white">
                    <p>MEN'S |</p>
                    <p class="pl-2">XL |</p>
                    <p class="pl-2">SATIN |</p>
                </div>
                <button class="bg-none py-4 w-52 border-attention text-attention mt-10 text-xl border-solid border-4 hover:text-white hover:bg-attention">
                    Read more
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}