{% extends 'src/partials/layout.njk'%}
{% block content %}
<div class="bg-2ndary md:pl-40 pt-52 pb-8 justify-items-center md:justify-items-start">
    <h1 class="text-attention text-7xl pb-12">
        CATEGORIES.
    </h1>
    <div class="grid grid-rows-2 md:grid-rows-1 grid-cols-2 md:grid-cols-4 flex flex-col md:flex-row justify-items-center md:justify-items-start md:space-x-48">
        <div class="">
            <h2 class="text-white text-4xl pb-12">
                MEN'S
            </h2>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    BODYWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">HOODIES</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">SHIRTS</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">PANTS</p>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    HEADWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">GLASSES</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">HATS</p>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    UNDERWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">BOXERS</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">MOOB BRA</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <h2 class="text-white text-4xl pb-12">
                WOMEN'S
            </h2>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    BODYWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">HOODIES</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">SHIRTS</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">PANTS</p>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    HEADWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">GLASSES</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">HATS</p>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    UNDERWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">panties</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">BRA</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <h2 class="text-white text-4xl pb-12">
                CHILDREN'S
            </h2>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    BODYWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">HOODIES</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">SHIRTS</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">PANTS</p>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    HEADWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">GLASSES</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">HATS</p>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    UNDERWEAR
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">No</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">just no</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <h2 class="text-white text-4xl pb-12">
                MISC
            </h2>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    ritual gear
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">daggers</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">candles</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">pig's blood</p>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    witch gear
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">potions</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">brooms</p>
                    </div>
                </div>
            </div>
            <div class="pb-6">
                <h3 class="text-white text-2xl pb-3">
                    curse gear
                </h3>
                <div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">strawdolls</p>
                    </div>
                    <div class="flex items-center text-xl text-gray-500 transition-text duration-200 hover:text-attention">
                        <input type="checkbox" class="w-6 h-6 appearance-none border-secondary rounded border border-4 hover:bg-attention checked:bg-attention">
                        <p class="pl-3">hex kit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md:pl-40 pt-28">
    <h1 class="text-attention text-8xl pb-12 text-center md:text-start">
        store.
    </h1>
    <div class="grid md:grid-cols-3 pb-60 grid-cols-1 md:space-y-0 space-y-20 items-center md:items-start">
        <div class="md:pr-12 text-center md:text-start justify-items-center md:justify-items-start">
            <img src="mockupRW.jpg" alt="productpic" class="h-full w-5/6 object-cover">
            <div class="flex flex-col">
                <h1 class="text-white text-4xl pt-5">
                    RIOTING WITCHES HOODIE
                </h1>
                <div class="flex text-white text-xl justify-center md:justify-start divide-x-2 divide-white my-4">
                    <p class="px-2">MEN'S</p>
                    <p class="px-2">XL</p>
                    <p class="px-2">SATIN</p>
                </div>
                <a href="/item.html">
                    <button class="bg-none py-4 w-52 border-attention text-attention text-xl border-solid border-4 transition-bg duration-200 transition-text duration-200 hover:text-white hover:bg-attention">
                        Read more
                    </button>
                </a>
            </div>
        </div>
        <div class="md:pr-12 text-center md:text-start justify-items-center md:justify-items-start">
            <img src="mockupRW.jpg" alt="productpic" class="h-full w-5/6 object-cover">
            <div class="flex flex-col">
                <h1 class="text-white text-4xl pt-5">
                    RIOTING WITCHES HOODIE
                </h1>
                <div class="flex text-white text-xl justify-center md:justify-start divide-x-2 divide-white my-4">
                    <p class="px-2">MEN'S</p>
                    <p class="px-2">XL</p>
                    <p class="px-2">SATIN</p>
                </div>
                <a href="/item.html">
                    <button class="bg-none py-4 w-52 border-attention text-attention text-xl border-solid border-4 transition-bg duration-200 transition-text duration-200 hover:text-white hover:bg-attention">
                        Read more
                    </button>
                </a>
            </div>
        </div>
        <div class="md:pr-12 text-center md:text-start justify-items-center md:justify-items-start">
            <img src="mockupRW.jpg" alt="productpic" class="h-full w-5/6 object-cover">
            <div class="flex flex-col">
                <h1 class="text-white text-4xl pt-5">
                    RIOTING WITCHES HOODIE
                </h1>
                <div class="flex text-white text-xl justify-center md:justify-start divide-x-2 divide-white my-4">
                    <p class="px-2">MEN'S</p>
                    <p class="px-2">XL</p>
                    <p class="px-2">SATIN</p>
                </div>
                <a href="/item.html">
                    <button class="bg-none py-4 w-52 border-attention text-attention text-xl border-solid border-4 transition-bg duration-200 transition-text duration-200 hover:text-white hover:bg-attention">
                        Read more
                    </button>
                </a>
            </div>
        </div>
    </div>
        <div class="grid md:grid-cols-3 pb-60 grid-cols-1 md:space-y-0 space-y-20 items-center md:items-start">
        <div class="md:pr-12 text-center md:text-start justify-items-center md:justify-items-start">
            <img src="mockupRW.jpg" alt="productpic" class="h-full w-5/6 object-cover">
            <div class="flex flex-col">
                <h1 class="text-white text-4xl pt-5">
                    RIOTING WITCHES HOODIE
                </h1>
                <div class="flex text-white text-xl justify-center md:justify-start divide-x-2 divide-white my-4">
                    <p class="px-2">MEN'S</p>
                    <p class="px-2">XL</p>
                    <p class="px-2">SATIN</p>
                </div>
                <a href="/item.html">
                    <button class="bg-none py-4 w-52 border-attention text-attention text-xl border-solid border-4 transition-bg duration-200 transition-text duration-200 hover:text-white hover:bg-attention">
                        Read more
                    </button>
                </a>
            </div>
        </div>
        <div class="md:pr-12 text-center md:text-start justify-items-center md:justify-items-start">
            <img src="mockupRW.jpg" alt="productpic" class="h-full w-5/6 object-cover">
            <div class="flex flex-col">
                <h1 class="text-white text-4xl pt-5">
                    RIOTING WITCHES HOODIE
                </h1>
                <div class="flex text-white text-xl justify-center md:justify-start divide-x-2 divide-white my-4">
                    <p class="px-2">MEN'S</p>
                    <p class="px-2">XL</p>
                    <p class="px-2">SATIN</p>
                </div>
                <a href="/item.html">
                    <button class="bg-none py-4 w-52 border-attention text-attention text-xl border-solid border-4 transition-bg duration-200 transition-text duration-200 hover:text-white hover:bg-attention">
                        Read more
                    </button>
                </a>
            </div>
        </div>
        <div class="md:pr-12 text-center md:text-start justify-items-center md:justify-items-start">
            <img src="mockupRW.jpg" alt="productpic" class="h-full w-5/6 object-cover">
            <div class="flex flex-col">
                <h1 class="text-white text-4xl pt-5">
                    RIOTING WITCHES HOODIE
                </h1>
                <div class="flex text-white text-xl justify-center md:justify-start divide-x-2 divide-white my-4">
                    <p class="px-2">MEN'S</p>
                    <p class="px-2">XL</p>
                    <p class="px-2">SATIN</p>
                </div>
                <a href="/item.html">
                    <button class="bg-none py-4 w-52 border-attention text-attention text-xl border-solid border-4 transition-bg duration-200 transition-text duration-200 hover:text-white hover:bg-attention">
                        Read more
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}