<div class="bg-secondary text-white py-8 flex justify-center items-center">
    <div class="pr-40">
        <h1 class="text-6xl text-attention pb-7 drop-shadow-text">Contact</h1>
        <ul class="text-xl">
            <li class="pb-3">
                <p>business number: +372 8573 8584</p>
            </li>
            <li class="pb-3">
                <p>fan-mail: RIOTWITCH.FANMAIL@gmail.com</p>
            </li>
            <li class="pb-3">
                <p>contact mail: RIOTWITCH.CONTACT@GMAIL.COM</p>
            </li>
            <li class="pb-3">
                <p>application: RIOTWITCH.apply@GMAIL.COM</p>
            </li>
        </ul>
    </div>
    <div>
        <img src="RWgoat.png" alt="witches" class="w-96">
    </div>
    <div class="pl-40">
        <h1 class="text-6xl text-attention pb-7 drop-shadow-text">Social media</h1>
        <ul class="text-xl">
            <li class="pb-3">
                <p>TWITTER: @rioting_witches</p>
            </li>
            <li class="pb-3">
                <p>instagram: @rioting.witces.offical</p>
            </li>
            <li class="pb-3">
                <p>YouTube: Rioting Witches E-SPORTS</p>
            </li>
            <li class="pb-3">
                <p>facebook: @riotingwitches</p>
            </li>
        </ul>
    </div>
</div>