<footer style="display: flex;">
    <section style="display: flex; width: 1318px; background-color: #151415; padding-inline: 274px; padding-top: 50px; padding-bottom: 74px; text-align: center; color: white;">
        <div style="padding-right: 174px;">
            <h2 class="text-left font-beardbone" style="padding-bottom: 20px; font-size: 64px">Socials</h2>
            <div>
                <h3 class="text-left font-extrabold" style="padding-bottom: 15px; font-size: 24px">Follow us on:</h3>
                <div style="font-size: 24px;">
                    <p class="text-left" style="padding-bottom: 15px">Facebook</p>
                    <p class="text-left" style="padding-bottom: 15px">Instragram</p>
                    <p class="text-left" style="padding-bottom: 15px">Twitter</p>
                    <p class="text-left" style="padding-bottom: 15px">Youtube</p>
                </div>  
            </div>
        </div>
        <div>
            <h2 class="text-left font-beardbone" style="padding-bottom: 20px; font-size: 64px">Miscellaneous</h2>
            <div>
                <h3 class="text-left font-extrabold" style="padding-bottom: 15px; font-size: 24px">More info:</h3>
                <div style="font-size: 24px;">
                    <p class="text-left" style="padding-bottom: 15px">FAQ</p>
                    <p class="text-left" style="padding-bottom: 15px">About us</p>
                    <p class="text-left" style="padding-bottom: 15px">Gun laws in the EU</p>
                    <p class="text-left" style="padding-bottom: 15px">Legality</p>
                </div>  
            </div>
        </div>
    </section>
    <section style="display: flex; width: 602px; background-color: #CB2729; padding-inline: 151px; padding-block: 100px;">
        <img src="/Blogotext.png" alt="Blogo" style="width: 300px; height: 300px;">
    </section>
</footer>