<footer>
    <div class="md:flex">
        <section class="flex lg:w-[1318px] md:w-auto bg-darkness md:pl-[274px] pl-[16px] md:pt-[50px] pt-[30px] md:pb-[74px] pb-[30px] text-center text-white">
            <nav class="md:pr-[174px] pr-[50px]">
                <h2 class="text-left font-beardbone md:pb-[20px] pb-[10px] md:text-[64px] text-[40px]">Socials</h2>
                <div>
                    <h3 class="text-left font-extrabold pb-[15px] md:text-2xl text-xl">Follow us on:</h3>
                    <ul class="font-khula list-none md:text-2xl text-base flex flex-col p-0 m-0">
                        <div class="flex flex-wrap md:flex-col md:gap-[0px] gap-[20px]">
                            <li class="text-left md:pb-[15px] pb-[20px]">
                                <a href="https://facebook.com" target="_blank" rel="noopener">
                                    <img src="/facebook.svg" alt="Facebook" width="40" height="40" class="inline-block filter invert brightness-0" />
                                </a>
                            </li>
                            <li class="text-left md:pb-[15px] pb-[20px]">
                                <a href="https://youtube.com" target="_blank" rel="noopener">
                                    <img src="/youtube.svg" alt="YouTube" width="40" height="40" class="inline-block filter invert brightness-0" />
                                </a>
                            </li>
                        </div>
                        <div class="flex flex-wrap md:flex-col md:gap-[0px] gap-[20px]">
                            <li class="text-left md:pb-[15px] pb-[0px]">
                                <a href="https://instagram.com" target="_blank" rel="noopener">
                                    <img src="/instagram.svg" alt="Instagram" width="40" height="40" class="inline-block filter invert brightness-0" />
                                </a>
                            </li>
                            <li class="text-left md:pb-[15px] pb-[0px]">
                                <a href="https://twitter.com" target="_blank" rel="noopener">
                                    <img src="/twitter.svg" alt="Twitter" width="40" height="40" class="inline-block filter invert brightness-0" />
                                </a>
                            </li> 
                        </div>
                    </ul>
                </div>
            </nav>
            <section>
                <h2 class="text-left font-beardbone md:pb-[20px] pb-[10px] md:text-[64px] text-[40px]">Misc.</h2>
                <div>
                    <h3 class="text-left font-extrabold pb-[15px] md:text-2xl text-xl">More info:</h3>
                    <ul class="font-khula list-none md:text-2xl text-base p-0 m-0">
                        <li class="text-left md:pb-[15px] pb-[5px]">FAQ</li>
                        <li class="text-left md:pb-[15px] pb-[5px]">About us</li>
                        <li class="text-left md:pb-[15px] pb-[5px]">Gun laws in the EU</li>
                        <li class="text-left md:pb-[15px] pb-[5px]">Legality</li>
                    </ul>
                </div>
            </section>
        </section>
        <aside class="flex md:w-[602px] bg-primary justify-center items-center md:py-[151px] py-[30px]">
            <img src="/Blogotext.png" alt="Blogo" class="md:w-[300px] md:h-[300px] w-[120px] h-[120px]">
        </aside>
    </div>
</footer>