<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Püssi Veski</title>
    <link rel="stylesheet" href="style.css">
    <script src="index.js"></script>
  </head>
  <body class="bg-lightness">
    {% include 'src/partials/nav.njk' %}
    {% block content %} {% endblock %}
    {% include 'src/partials/footer.njk' %}
  </body>
</html>