<nav class="bg-secondary bg-opacity-70 backdrop-blur-sm text-white font-primary text-2xl py-4 flex flex-col md:flex-row justify-center md:justify-between md:items-center bg-blur-2 w-full fixed top-0 md:flex-wrap">
    <div class="pl-0 md:pl-40">
        <a href="/"><img src="RWgoat.png" alt="rwgoat" class="h-24 min-w-24">
        </a>
    </div>
    <div class="pr-0 md:col-5 md:pr-96">
        <ul class="flex align-center md:flex-row justify-evenly md:justify-normal space-x-12 md:space-x-16 md:ml-16 text-lg md:text-xl pr-72">
            <li>
                <a href="/store.html" class="text-white transition-text duration-200 hover:text-attention">STORE</a>
            </li>
            <li>
                <a href="/sorry.html" class="text-white transition-text duration-200 hover:text-attention">TEAMS</a>
            </li>
            <li>
                <a href="/sorry.html" class="text-white transition-text duration-200 hover:text-attention">ABOUT US</a>
            </li>
            <li>
                <a href="/sorry.html" class="text-white transition-text duration-200 hover:text-attention">PARTNERS</a>
            </li>
            <li>
                <a href="/contact.html" class="text-white transition-text duration-200 hover:text-attention">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>