<nav class="bg-secondary bg-opacity-70 backdrop-blur-sm text-white font-primary text-2xl py-4 flex justify-between align-center flex-wrap bg-blur-2 w-full fixed top-0">
    <div class="pl-40">
        <a href="/"><img src="RWgoat.png" alt="rwgoat" class="h-24">
        </a>
    </div>
    <div class="w-2/3">
        <ul class="flex justify-normal space-x-16 py-9 ml-16 text-xl pr-40 flex-wrap">
            <li>
                <a href="/store.html" class="text-white hover:text-attention">STORE</a>
            </li>
            <li>
                <a href="#" class="text-white hover:text-attention">TEAMS</a>
            </li>
            <li>
                <a href="#" class="text-white hover:text-attention">ABOUT US</a>
            </li>
            <li>
                <a href="#" class="text-white hover:text-attention">PARTNERS</a>
            </li>
            <li>
                <a href="#" class="text-white hover:text-attention">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>