<div style="text-align: center; position: fixed; top: 0; padding-top: 9px; background-color: #BD3435; padding-inline: 17px; justify-content: center;  margin-left: 101px; padding-bottom: 50px; z-index: 1000;">
    <a href="/index.html"><img src="/Wlogotext.png" alt="Wlogo" style="width: 91px; height: 90;"></img></a>
</div>
<nav style="font-family: 'Beardbone'; font-size: 24px; border-bottom: 2px solid; border-color: #D89C00; backdrop-filter: blur(7px); text-align: center; padding-inline: 274px;  position: fixed; top: 0px; height: 135px; width: 1920px; justify-content: between;">
    <ul style="list-style: none; padding: 0; display: flex; position: fixed; top: 45px;">
        <li><a href="/store.html" style="color: #151415; padding-right: 116px;">STORE</a></li>
        <li><a href="/sorry.html" style="color: #151415; padding-right: 116px">DONATE</a></li>
        <li><a href="/contact.html" style="color: #151415; padding-right: 116px">CONTACT</a></li>
    </ul>
    <svg style="padding: 0; display: flex; position: fixed; top: 53px; right: 0px;">
        <use href="/shopping_cart.svg" style="width: 30px;"></use>
    </svg>
</nav>