@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: 'Khula';
        font-style: normal;
        font-weight: 400;
        src: url(../public/Khula-Regular.ttf) format('truetype');
        }
    @font-face {
        font-family: 'Beardbone';
        font-style: normal;
        font-weight: normal;
        src: url(../public/Beardbone.ttf) format('truetype');
        }
    .font-outline-8 {
        -webkit-text-stroke: 8px #FFFAED;
        paint-order: stroke fill;
        }
    #auto-scroll-gallery {
        scrollbar-width: none;
        }
    #auto-scroll-gallery::-webkit-scrollbar {
        display: none;
        }
    }