@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.google.com/specimen/Khula');
@layer base {
    @font-face {
        font-family: 'Khula', sans-serif;
        font-style: regular;
        font-weight: 400;
        font-display: swap;
        src: url(../public/Khula-Regular.ttf) format('ttf');
        }
    }